{% extends "base.html" %}
{% block content %}
<div class="container">
    <a href="/admin/">Пользователи /</a> <a href="/admin/category/">Категории /</a>
    <a href="/admin/cart/">Корзины /</a> <a href="/admin/product/">Продукты</a>
    <ul>
        {% for category in categories %}
        <li>
            <a href="/admin/category/detail/{{ category.id }}" class="name">{{ category.name }}</a> <a href="/admin/category/update/{{ category.id }}">Редактирвоть</a> <a href="/admin/category/delete/{{ category.id }}">Удалить</a>
        </li>
        {% endfor %}
    </ul>
    <form action="/admin/category/" method="post">
        {% include 'admin_update_forms.html' %}
        <input type="submit" value="Добавить">
    </form>
</div>
{% endblock %}