{% extends "base.html" %}
{% block content %}
<div class="container">
    <a href="/admin/product/" class="btn btn-default">Назад</a>
        <p>
            Название: {{ product.name }}
        </p>
        <p>
            Количество: {{ product.count }}
        </p>
        <p>
            Категория: {{ product.category }}
        </p>
        <p>
            Корзина: {{ product.cart }}
        </p>
        <p>
            Пользователь: {{ product.cart.user }}
        </p>
</div>
{% endblock %}